@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron col-xl-8 offset-xl-2">
    <h1 class="display-4">The Unfiltered Lens Archival Project&nbsp;</h1>
    <p class="lead">Tom Insert Stuff Here</p>
    <hr class="my-4">
    <p>Click Here For Archives&nbsp;</p>
    <p class="lead"> <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<img src="Images/p1815417298-5.jpg" alt="" width="1100" height="739" class="modal-backdrop filter-blur" />
